body{
    background-color: #f6f6f6;
}  
.body1{
    height: 700px;
}

.contentcontact img{
    width: 100%;
    height: 500px;
    filter: grayscale(50%);
}
.title{
    font-size: 55px;
    color: #597fea;
    text-shadow: 2px 2px 5px black;
    position: relative;
    top:-300px;
    text-align: center;
    animation-name:dichuyentitlecontact ;
    animation-duration: 3s;
    animation-iteration-count: 1;
    
    transition: ease-in-out;
}
.txtContact{
    border: none;
    border:1px solid #b7b7b7;
}
.form{
    width: 80%;
    margin:0 auto;
}
.btnsubmit{
    padding: 6px 35px;
    background-color: #47ce40;
    border-radius: 5px;
    color: #ffff;
    font-weight: 500;
    border: none;
}
.btnsubmit:hover{
    background-color: #33b72c;

}
input[type="text"]{
    padding: 4px 100px;
}
label{
    font-size: 18px;
    font-weight: 500;
}
.giveus{
    font-size: 24px;
}
.footerContact {
    position: relative;
    
}
.title-contactt{
    font-weight: 500;
    font-size: 18px;
}
.iconsocial{
    font-size: 30px;
    transition: all 0.2 ease;
     
}
 
 
@keyframes dichuyentitlecontact {
    0%{opacity:0}
    100%{opacity:1}
}
.btnSocial{
   padding: 5px 15px;
   border: none;
}
.youtube, .instagram{
    margin-left: 20px;
}
 
.facebook{
    color: #ffff;
    background-color:  #4267b2;
    font-size: 25px;
}
.instagram{
    color: #ffff;
    background-image: linear-gradient(-90deg,red, #b3318a);
    font-size: 25px;
}
.youtube{
    color: #ffff;
    background-color: #ff0000;
    font-size: 25px;
   
}
.facebook:hover{
    
    background-color:  #3359a5
  
}
.instagram:hover{
    
    background-image: linear-gradient(-90deg,#d61313, #b3318a);
     
}
.youtube:hover{
    
    background-color:#ef1515;
   
   
}
/* .facebook:hover{
    font-size: 33px;
}
.apple:hover{
    font-size:  33px;
}
.youtube:hover{
    font-size:  33px;
} */

